html,body{height: 100%;margin:0;padding:0;background:#333;}
section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  background: #333;

}

.block {
  display: flex;
  flex-direction:column;
  align-items: center;
  min-height: 130px;
  width:200px;
  background:#eee;
  margin:10px;
  border-radius:2px;
  box-shadow: 1px 1px 2px 0 rgba(0,0,0,.1);
}
.block .title{
  font:normal 14px/28px tahoma;
  width:100%;
  margin:3px 0;
  background:rgba(0,0,0,.3);
}
.block .cont{
  width:100%;
  align-items: baseline;
  justify-content: baseline;
}

h6{
  font:600 20px/24px segoe ui;color:#fff;
  margin:0;
  padding: 4px 8px;
  }
p {
  font:400 18px/24px segoe ui;color:#000;
  padding:10px;
  margin: 0;
}
.block:nth-child(1) {
  background:#e57373;

}
.block:nth-child(2) {
  background:#f06292;
}

.block:nth-child(3) {
  background:#ba68c8;
}

.block:nth-child(4) {
  background:#9575cd;
}

.block:nth-child(5) {
  background:#7986cb;
}

.block:nth-child(6) {
  background:#64b5f6;
}

.block:nth-child(7) {
  background:#4fc3f7;
}
.block:nth-child(8) {
  background:#4dd0e1;
}
.block:nth-child(9) {
  background:#4db6ac;
}
.block:nth-child(10) {
  background:#81c784;
}

@media screen and (min-width: 600px) {
  .block {
  amin-height: 130px;
  width:200px;
  background:#ff0
  }
}

@media screen and (min-width: 1000px) {
  .block {
  amin-height: 180px;
  width:250px;
  background:#f00
  }
}

@media screen and (min-width: 1400px) {
  .block {
  amin-height: 230px;
  width:300px;
  background:#f0f
  }
}

@media screen and (min-width: 1800px) {
  .block {
  amin-height: 280px;
  font-size:20px;
  width:350px;
  background:#0ff
  }
}

.block {
  transition: ease width 500ms


}